<!doctype html>
<html lang="en">
    <head>
        <title>Pi Zero</title>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <!--<link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/base-min.css">
        <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/grids-responsive-min.css">-->
        <link rel="stylesheet" href="{{ url_for('static', filename='normalize.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='skeleton.css')}}">
        <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="one column"><h1>Temperature: {{ t }}</h1></div>
            </div>
            <div class="row">
                <div class="one column"><h1>Humidity: {{ h }}</h1></div>
            </div>
    </body>
</html>